.second__header{

    margin-top: 20px;
}

.dialyweather{
    display: flex;
    justify-content: space-around;
    flex: 1;
    box-shadow: 0px 5px 7px -5px rgba(0, 0,0,0.75);
    border-radius: 5px;
}

/* .spread{
   pa;
} */